<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registar Usuários</title>
</head>
<body>
    <div class="card container h-100">
        <div class="card-body">
          <h5 class="card-title">Registar Usuários</h5>
        </div>
    </div>
    
    <form id="form" [formGroup]="formulario">
        <div class="container" style="margin-top: 2%;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nome</span>
                </div>
                <input formControlName="nome" type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="text" formControlName="email" class="form-control"  aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">CPF</span>
                </div>
                <input type="text" mask="000.000.000-00" formControlName="cpf" class="form-control" aria-label="Usuário" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Competência(s)</span>
                </div>
                <select formControlName="competencia" class="form-select" size="3" limit="3" maxlength="3" aria-label="size 3 select example" multiple>
                    <option value="Gerenciador de Projetos">Gerênciador de Projetos</option>
                    <option value="Controle Financeiro">Controle Financeiro</option>
                    <option value="Controle de Estoque">Controle de Estoque</option>
                    <option value="Desenvolvedor Front-end">Desenvolvedor Front-end</option>
                    <option value="Desenvolvedor back-end">Desenvolvedor back-end</option>
                    <option value="DevOps">DevOps</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Telefone</span>
                </div>
                <input formControlName="telefone" mask="(00) 00000-0000" type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
        </div>        
    </form>
        <div class="container">
            <div class="input-group mb-3">
                <button [disabled]="!formulario.valid" class="btn btn-primary" (click)="registarUsuario()">Salvar</button>
            </div>
        </div>    
        
    
</body>
</html>
